---
layout: none
---

<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
        <title>Voila : Countdown To Episode I</title>
        
        <style type="text/css">
        a:hover {color : #ff9900}
        </style>

        <script language="JavaScript">

        <!--

        browser = (((navigator.appName == "Netscape") && (parseInt(navigator.appVersion) >= 3 )) || ((navigator.appName == "Microsoft Internet Explorer") && (parseInt(navigator.appVersion) >= 4 )))

        if (browser) {

                off = new MakeArray(1);
                on = new MakeArray(7);

                off[1].src = "img/pixel.gif";

                on[1].src = "img/txt-news.gif";
                on[2].src = "img/txt-live-webcam.gif";
                on[3].src = "img/txt-nyline-tv.gif";
                on[4].src = "img/txt-jedi-search.gif";
                on[5].src = "img/txt-fan-of-the-day.gif";
                on[6].src = "img/txt-jedi-chat.gif";
                on[7].src = "img/txt-info-sponsors.gif";

        }

        function MakeArray(n) {

                if (browser) {

                        this.length = n;

                        for (var i = 1; i<=n; i++) {

                                this[i] = new Image();

                        }

                        return this;

                }

        }

        function msOver(img,num) {

                if (browser) {

                        if (document.images[img].src == on[num].src) return false;

                        else {

                                document.images[img].src = on[num].src;

                                return true;

                        }

                }

        }

        function msOut(img,num) {

                if (browser) {

                        if (document.images[img].src == off[num].src) return false;

                        else {

                                document.images[img].src = off[num].src;

                                return true;

                        }

                }

        }

        // -->

        </script>

</head>

<body bgcolor="#000000" text="#ffffff" link="#ff6600" alink="#ff3333" vlink="#ff6600">

        <div align="center">

                <table width="600" cellspacing="0" cellpadding="0" border="0">
                <tr>
                        <td>

                                <table width="400" cellspacing="0" cellpadding="0" border="0" background="img/body-liberty.jpg">
                                <tr>
                                        <td>
                                                
                                                <img src="img/pixel.gif" width="52" height="1"> 
                                                
                                                <a href="news.html" onMouseOver="msOver('t','1');" onMouseOut="msOut('t','1');"><img src="img/nav-news.gif" border="0" width="100" height="50"></a>
                                                
                                                <br>

                                                <img src="img/pixel.gif" width="15" height="1"> 
                                                
                                                <a href="live.html" onMouseOver="msOver('t','2');" onMouseOut="msOut('t','1');"><img src="img/nav-live-webcam.gif" width="100" height="50" border="0"></a>
                                                
                                                <br>

                                                <a href="tv.html" onMouseOver="msOver('t','3');" onMouseOut="msOut('t','1');"><img src="img/nav-nyline-tv.gif" width="100" height="50" border="0"></a>
                                                
                                                <br>

                                                <img src="img/pixel.gif" width="15" height="1">
                                                
                                                <a href="search" onMouseOver="msOver('t','4');" onMouseOut="msOut('t','1');"><img src="img/nav-jedi-search.gif" width="100" height="50" border="0"></a>
                                                
                                                <br>

                                                <img src="img/pixel.gif" width="40" height="1">
                                                
                                                <a href="fan.html" onMouseOver="msOver('t','5');" onMouseOut="msOut('t','1');"><img src="img/nav-fan-of-the-day.gif" width="100" height="50" border="0"></a>
                                                
                                                <br>

                                                <img src="img/pixel.gif" width="100" height="1">
                                                
                                                <a href="chat.html" onMouseOver="msOver('t','6');" onMouseOut="msOut('t','1');"><img src="img/nav-jedi-chat.gif" width="100" height="50" border="0"></a>
                                                
                                                <br>

                                                <img src="img/pixel.gif" width="160" height="1"> 
                                                
                                                <a href="info.html" onMouseOver="msOver('t','7');" onMouseOut="msOut('t','1');"><img src="img/nav-info-sponsors.gif" width="100" height="50" border="0"></a>

                                        </td>

                                </tr>
                                </table>

                        </td>
                        <td align="right" valign="top">

                                <font face="Verdana, Arial, Sans-serif" size="2">
                                        
                                        <a href="news.html"><b>LATEST NEWS:</b></a>
                                        
                                        {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                        {% for article in sorted_articles %}

                                        {% assign date_only = article.published | slice: 0, 10 %}

                                        {% if date_only == "1999-12-02" %}

                                        <p style="text-transform: uppercase;"><b>{{ article.title }} (Updated 12/2)</b></p>

                                        {% endif %}

                                        {% endfor %}

                                </font>

                        </td>

                </tr>
                </table>

                <table width="600" height="69" cellspacing="0" cellpadding="0" border="0">
                <tr>

                        <td><img name="t" src="img/pixel.gif" width="600" height="69"></td>

                </tr>
                </table>

                <p><font face="Verdana, Arial, Sans-serif" size="1"><b>This site is not affiliated with Star Wars or Lucasfilm Ltd. Please read our <a href="disclaimer.html">Disclaimer</a>.</b></font></p>

        </div>

</body>
</html>
