---
description: Return to that sidewalk on 54th Street and relive the magic one more time...
title: Wish you were here
---

	<h1>{{page.title}}</h1>

	<p>Welcome to the NYLine Photo Gallery! Here you will find picture galleries from our 2005, 2002, and 1999 lines. If you would like to submit your own line pics to be featured here, please <a href="mailto:contact@nyline.org">send them</a> to us!</p>

	<section>

		<h2>2005 Galleries</h2>

		<ul class="page-listings">

			{%- for article in site.data.gallery.episode-3 %} 

			<li>

				<h3><a href="{{ article.id }}.html">{{ article.title }}</a></h3>

				<p class="time-stamp">Posted on <time datetime="{{ article.published }}">{{ article.published | date: "%A, %B %-d, %Y" }}</time></p>

				{%- if article.desc %}

				<p>{{ article.desc }}</p>

				{%- else %}

				{% include gallery.html theme="episode-3" %}

				{%- endif %}

			</li>

			{%- endfor %}

		</ul>

	</section>

	<section>

		<h2>2002 Galleries</h2>

		<ul class="page-listings">

			{%- for article in site.data.gallery.episode-2 %} 

			<li>

				<h3><a href="{{ article.id }}.html">{{ article.title }}</a></h3>

				<p class="time-stamp">Posted on <time datetime="{{ article.published }}">{{ article.published | date: "%A, %B %-d, %Y" }}</time></p>

				{%- if article.desc %}

				<p>{{ article.desc }}</p>

				{%- else %}

				{% include gallery.html theme="episode-2" %}

				{%- endif %}

			</li>

			{%- endfor %}

		</ul>

	</section>

	<section>

		<h2>1999 Galleries</h2>

		<ul class="page-listings">

			{%- for article in site.data.gallery.episode-1 %} 

			<li>

				<h3><a href="{{ article.id }}.html">{{ article.title }}</a></h3>

				<p class="time-stamp">Posted on <time datetime="{{ article.published }}">{{ article.published | date: "%A, %B %-d, %Y" }}</time></p>

				{%- if article.desc %}

				<p>{{ article.desc }}</p>

				{%- else %}

				{% include gallery.html theme="episode-1" %}

				{%- endif %}

			</li>

			{%- endfor %}

		</ul>

	</section>