<html>
<head>
    <title>NYline News</title>
    <style type="text/css">
    
    a:hover {
	color : #3333FF
	}

    </style>
</head>

<body bgcolor="Black" text="Black" link="Blue" alink="#3333FF" vlink="Blue">

<a name="top"></a>

<div align="center">

    <p>&nbsp;</p>

    <table width="95%" border="0">
    <tr>
        <td> 

            <table width="100%" border="0" cellspacing="0" cellpadding="1">
            <tr>
                <td><img src="/voila/images/heading-news.gif" width="238" height="20" border="0" alt=""></td>
                <td align="right"><img src="/voila/images/txt-previous-days.gif" width="113" height="14" border="0" alt=""><img src="images/pixel.gif" width="40" height="1" border="0" alt=""></td>
            </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FF6600">
            <tr>
                <td>

                    <table width="100%" border="0" cellspacing="0" cellpadding="10" bgcolor="White">
                    <tr>
                        <td>

                            <font face="Verdana, Arial, Sans-serif">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align=right>

                                        <form name="linearchive">

                                            <select name="showlist" size="1" onChange="location.href=document.linearchive.showlist.options[document.linearchive.showlist.selectedIndex].value;">
                                                <option value="news_001.html" >May 07
                                                <option value="news_002.html" >May 06
                                                <option value="news_001.html" >May 05	
                                                <option value="news_001.html" >May 04
                                                <option value="news_001.html" >May 03
                                                <option value="news_001.html" >May 02
                                                <option value="news_001.html" >May 01
                                            </select>

                                        </form>

                                    </td>
                                </tr>
                                </table>

                                <p>&nbsp;</p>

                                {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                {% for article in sorted_articles %}

                                {% assign date_only = article.published | slice: 0, 10 %}

                                {% if date_only == include.current %}

                                <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td>

                                        <font face="Verdana, Arial, Sans-serif">
                                            
                                            <b>{{ article.title }}</b><br>

                                            <font size="1" color="#FF6600">{{ article.published | date: "%A, %B %-d, %Y %I:%M:%S %p %Z" }} : UPDATED BY: {{ article.author }}<br>NUMBER OF PEOPLE CURRENTLY IN LINE: {{ article.members }}</font>

                                            <br><br>

                                            <font size="2">

                                                {% include_relative html/{{ article.id }}.html %}

                                                <br><br>

                                                {%- assign newsFeed = site.data.news.episode-1 | where: "id", article.id | first -%}
                                                {%- assign newsGallery = newsFeed.gallery -%}

                                                {%- if newsGallery %}
                                
                                                    {%- for imageGallery in newsGallery %}
                                
                                                    {%- assign relatedImages = site.data.gallery.episode-1 | where: "id", imageGallery | first %}
                                
                                                    {%- for image in relatedImages.gallery %}
                                
                                                    {%- for pageSelection in image.highlight %}
                                
                                                    {%- if article.id == pageSelection %}

                                                    <a href="javascript:void(0);" onClick="open('/gallery/source/{{ imageGallery }}/{{ image.name }}','','width=512,height=400');"><img src="/gallery/source/{{ imageGallery }}/{{ image.name }}" width="150" height="113" alt="{% if image.alt %}{{ image.alt }}{% else %}NYLine Photo{% endif %}" border="0"></a>&nbsp;&nbsp;
                                
                                                    {%- endif %}
                                
                                                    {%- endfor %}
                                    
                                                    {%- endfor %}
                                
                                                    {%- endfor %}

                                                {% endif %}
                                           
                                            </font>

                                        </font>

                                    </td>
                                </tr>
                                </table>

                                {% unless forloop.last %}
                                
                                <p>&nbsp;</p>
                                
                                {% endunless %}

                                {% endif %}

                                {% endfor %}

                                <br><br>

                                <b><a href='{{ include.previous }}.html'>Yesterday's News</a> :</b>

                                <br>

                                <font face="Verdana" size="2">

                                    {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                    {% for article in sorted_articles %}

                                    {% assign date_only = article.published | slice: 0, 10 %}

                                    {% if date_only == include.previous %}

                                    <b>{{ article.title }}</b><br>

                                    {% endif %}

                                    {% endfor %}

                                </font>

                            </font>

                        </td>
                    </tr>
                    </table>

                </td>
            </tr>
            </table>

            <a href="#top"><img src="/voila/images/txt-return-to-top.gif" border="0" width="209" height="20"></a>

        </td>
    </tr>
    </table>

</div>

</body>
</html>