
{% assign currentID = page.id %}
{% assign section = page.section %}
{% assign theme = page.theme %}

{% if section == "fotd" %}

  {% assign data = site.data.news[section] %}

{% endif %}

{% if section == "news" %}

	{% assign data = site.data.news[theme] %}

{% endif %}

{% if section == "photos" %}

	{% assign data = site.data.gallery[theme] %}

{% endif %}

{% assign newsFeed = data | where: "id", currentID | first %}

{% if page.timestamp == nil and section == "fotd" or section == "news" or section == "photos" %}

	<h1>{{ newsFeed.title }}</h1>

	{% if section == "news" or section == "fotd" %}

	<p class="published-date">Posted by <b>{{ newsFeed.author }}</b> on <time datetime="{{ newsFeed.published }}">{{ newsFeed.published | date: "%A, %B %-d, %Y %I:%M:%S %p %Z" }}</time></p>

  	<p class="current-members">Number of people currently in line: <b>{{ newsFeed.members }}</b></p>

	{% endif %}

	{% if section == "photos" %}

	<p class="published-date">Posted on <time datetime="{{ newsFeed.published }}">{{ newsFeed.published | date: "%A, %B %-d, %Y" }}</time></p>

  	{% endif %}

{% endif %}