// Global Variables 

// Typography

$base-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Colors

$primary-color: #30684b;
$secondary-color: #0b4e80;
$tertiary-color: #c8ac71;

// Common Behaviors

$text-offscreen: -999em;