{%- assign pageID = page.id -%}
{%- assign sectionName = page.section -%}
{%- assign themeName = page.theme -%}
{%- assign timestamp = page.timestamp -%} 
{%- assign pageCondition = false -%}
{%- assign pageName = page.path | replace:'.html',''| replace: '/', '-' %}

{%- assign dataFOTD = site.data.news[sectionName] -%}
{%- assign dataNews = site.data.news[themeName] -%}
{%- assign dataPhotos = site.data.gallery[themeName] -%}
{%- assign dataVideos = site.data.video[themeName] -%}

{%- if sectionName == "fotd" -%}

	{%- assign data = dataFOTD -%}

{%- endif -%}

{%- if sectionName == "news" -%}

	{%- assign data = dataNews -%}

{%- endif -%}

{%- if sectionName == "photos" -%}

	{%- assign data = dataPhotos -%}

{%- endif -%}

{%- assign newsFeed = data | where: "id", pageID | first -%}
{%- assign galleryFeed = dataPhotos | where: "id", pageID | first -%}
{%- assign newsTitle = newsFeed.title -%}
{%- assign newsGallery = newsFeed.gallery -%}
{%- assign newsVideos = newsFeed.video -%}
{%- assign relatedGallery = galleryFeed.related -%}

{%- if sectionName == "fotd" or sectionName == "news" or sectionName == "photos" -%}

  {%- assign pageCondition = true -%}

{%- endif -%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, viewport-fit=cover" name="viewport">{% if page.noindex %}
	<meta content="noindex, nofollow" name="robots">{% endif %}
	<meta content="article" name="og:type">
	<meta content="https://nyline.org/img/app/social.png" property="og:image">
	<meta content="NYLine Lady Liberty Logo" property="og:image:alt">
	<meta content="{{ page.title }}" property="og:title">{% if page.description %}
	<meta content="{{ page.description }}" property="og:description" name="description">{% endif %}
	<meta content="#870061" name="theme-color">
	<link href="/css/global.css" rel="stylesheet">
	<link href="/manifest.json" rel="manifest">
	<link href="/favicon.ico" rel="icon">
	<title>{{ newsTitle }}{{ page.title }} - {{ site.name }}</title>
</head>

<body id="{{ pageName }}" class="{% if themeName %}{{ themeName }}{% else %}{{ site.theme-name }}{% endif %}{% if sectionName %} {{ sectionName }}{% endif %}">

	<div id="page">

		<a id="skip-nav" href="#content">Skip to main content</a>

		<header id="banner">

			<div id="creative">

			{%- if page.creative -%}

				<img src="/img/template/{{ page.creative }}.jpg" alt="">

			{% else %}

				<img src="/img/template/creative-default.jpg" alt="">

			{% endif -%}

			</div>

			<nav id="primary-navigation" aria-label="primary">

				<ul>
					<li id="nav-index"><a href="/index.html">Home</a></li>
					<li id="nav-news-index"><a href="/news/">News Archives</a></li>
					<li id="nav-our-charity"><a href="{{site.charity}}">Our Charity</a></li>
					<li id="nav-gallery-index"><a href="/gallery/">Photos</a></li>
					<li id="nav-nyline-tv"><a href="{{site.video}}">Videos</a></li>
					<li id="nav-forumns"><a href="{{site.forum}}">Forum</a></li>
					<li id="nav-contact-us"><a href="/contact-us.html">Contact Us</a></li>
				</ul>

			</nav>

			<div id="page-heading">

				{%- if themeName == "episode-1" %}

				<a href="/" class="logo">{{ site.name }}<span>:</span> <b><span>Episode</span></b> <b>1</b></a>

				<p class="subheading"><em>The Line Starts Here</em></p>

				{%- elsif themeName == "episode-2" %}

				<a href="/" class="logo">{{ site.name }}<span>:</span> <b><span>Episode</span></b> <b>2</b></a>

				<p class="subheading"><em>The Line Continues...</em></p>

				{%- elsif themeName == "episode-3" %}

				<a href="/" class="logo">{{ site.name }}<span>:</span> <b><span>Episode</span></b> <b>3</b></a>

				<p class="subheading"><em>Almost There...</em></p>

				{%- else %}

				<a href="/" class="logo">{{ site.name }}<span>:</span> <b><span>Episode</span></b> <b>{{ site.episode }}</b></a>

				<p class="subheading"><em>{{site.subheading }}</em></p>

				{%- endif %}

			</div>

		</header>

		<main id="content">

			<article>

			{%- if pageCondition %}

				<h1>{{ newsFeed.title }}</h1>

				{%- if sectionName == "news" or sectionName == "fotd" %}

				<p class="published-date">Posted by <b>{{ newsFeed.author }}</b> on <time datetime="{{ newsFeed.published }}">{{ newsFeed.published | date: "%A, %B %-d, %Y %I:%M:%S %p %Z" }}</time></p>

				<p class="current-members">Number of people currently in line: <b>{{ newsFeed.members }}</b></p>

				{%- endif %}

				{%- if sectionName == "photos" %}

				<p class="published-date">Posted on <time datetime="{{ newsFeed.published }}">{{ newsFeed.published | date: "%A, %B %-d, %Y" }}</time></p>

				{%- if newsFeed.desc %}

				<p>{{ newsFeed.desc }}</p>

				{%- else %}

				{% include gallery.html theme=themeName %}

				{%- endif %}
				
				{%- endif %}

				{%- endif %}

				{{ content | strip }}

				{%- if sectionName == "photos" %}

				<div class="gallery">
				
					<ul>
				
					{%- for image in galleryFeed.gallery %}
				
						<li><a href="/gallery/source/{{ pageID }}/{{ image.name }}"><img src="/gallery/source/{{ pageID }}/{{ image.name }}" alt="{% if image.alt %}{{ image.alt }}{% else %}NYLine Photo{% endif %}" loading="lazy"></a></li>
				
					{%- endfor %}
				
					</ul>
				
				</div>

				{%- endif %}

				{%- if sectionName == "news" and newsGallery %}

    			<section id="story-highlights">

					<h2>Highlights from the Line</h2>

        			<ul>

					{%- for imageGallery in newsGallery %}

					{%- assign relatedImages = dataPhotos | where: "id", imageGallery | first %}

        			{%- for image in relatedImages.gallery %}

            		{%- for pageSelection in image.highlight %}

                	{%- if pageID == pageSelection %}

                    	<li><a href="/gallery/source/{{ imageGallery }}/{{ image.name }}"><img src="/gallery/source/{{ imageGallery }}/{{ image.name }}" alt="{% if image.alt %}{{ image.alt }}{% else %}NYLine Photo{% endif %}" loading="lazy"></a></li>

                	{%- endif %}

            		{%- endfor %}
    
        			{%- endfor %}

					{%- endfor %}

        			</ul>

    			</section>

				{%- endif %}

				{%- if newsGallery or newsVideos or relatedGallery %}

    			<aside id="related-media">

        		{%- if sectionName == "news" and newsGallery or newsVideos %}

        			<h2>Related Media</h2>

        			<ul>

            		{%- for relatedID in newsGallery %}

                		{%- assign relatedPost = dataPhotos | where: "id", relatedID | first -%}

                		<li><a href="/gallery/{{ relatedPost.id }}">{{ relatedPost.title }}</a></li>

            		{%- endfor %}

            		{%- for relatedID in newsVideos %}

                		{%- assign relatedPost = dataVideos | where: "id", relatedID | first %}

                		<li><a href="{{ relatedPost.href }}">{{ relatedPost.title }}</a></li>

            		{%- endfor %}

        			</ul>

    				{%- endif -%}

    				{%- if sectionName == "photos" and relatedGallery %}

        			<h2>Related Content</h2>

        			<ul>

            		{%- for relatedID in relatedGallery %}

                		{%- assign relatedPost = dataNews | where: "id", relatedID | first %}

                		<li><a href="/news/{{ themeName }}/{{ relatedPost.id }}">{{ relatedPost.title }}</a></li>

            		{%- endfor %}

        			</ul>

    			{%- endif %}

				</aside>

			{%- endif %}

			</article>

		</main>

		<footer>

			<p><small>&copy; 1999-{{ "now" | date: "%Y" }} All Rights Reserved. This site is not affiliated with Star Wars, Lucasfilm Ltd, or The Walt Disney Company. Please read our <a href="/disclaimer.html">Disclaimer</a> and <a href="/privacy-statement.html">Privacy Statement</a>.</small></p>

			<p><small>Web design and development by <a href="http://www.toshistation.com/">Chris Holoka</a> and <a href="https://michaelspellacy.com/">Michael "Spell" Spellacy</a>.</small></p>

			<p><small>Hosting provided by <a href="https://web.archive.org/web/20190925100046/http://www.vincehardy.com/">Vince Hardy</a>. The <a href="https://github.com/michaelspellacy/nyline-org">source code</a> for this site can be accessed on <a href="https://github.com/">GitHub</a>.</small></p>

		</footer>

	</div>

	<script src="/js/global.js"></script>

</body>
</html>
