
<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>NYline News</title>
    <style type="text/css">
    
    a:hover {
	color : #3333FF
	}

    </style>
</head>

<body bgcolor="Black" text="Black" link="Blue" alink="#3333FF" vlink="Blue">

<a name="top"></a>

<div align="center">

    <table width="95%" border="0">
    <tr>
        <td> 

            <table width="100%" border="0" cellspacing="0" cellpadding="1">
            <tr>
                <td><img src="/voila/img/heading-news.gif" width="238" height="20" border="0" alt=""></td>
                <td align="right"><img src="/voila/img/txt-previous-days.gif" width="113" height="14" border="0" alt=""><img src="/voila/img/pixel.gif" width="40" height="1" border="0" alt=""></td>
            </tr>
            </table>

            <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FF6600">
            <tr>
                <td>

                    <table width="100%" border="0" cellspacing="0" cellpadding="10" bgcolor="White">
                    <tr>
                        <td>

                            <font face="Verdana, Arial, Sans-serif">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="right">

                                        <form name="linearchive">

                                            <select name="showlist" size="1" onChange="location.href=document.linearchive.showlist.options[document.linearchive.showlist.selectedIndex].value;">
                                                <option value="/news/episode-1/1999-05-07.html" >May 07
                                                <option value="/news/episode-1/1999-05-06.html" >May 06
                                                <option value="/news/episode-1/1999-05-05.html" >May 05	
                                                <option value="/news/episode-1/1999-05-04.html" >May 04
                                                <option value="/news/episode-1/1999-05-03.html" >May 03
                                                <option value="/news/episode-1/1999-05-02.html" >May 02
                                                <option value="/news/episode-1/1999-05-01.html" >May 01
                                                <option value="/news/episode-1/1999-04-28.html" >Apr 28
                                                <option value="/news/episode-1/1999-04-26.html" >Apr 26
                                                <option value="/news/episode-1/1999-04-23.html" >Apr 23
                                                <option value="/news/episode-1/1999-04-13.html" >Apr 13
                                                <option value="/news/episode-1/1999-04-09.html" >Apr 09
                                            </select>

                                        </form>

                                    </td>
                                </tr>
                                </table>

                                {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                {% for article in sorted_articles %}

                                {% assign date_only = article.published | slice: 0, 10 %}

                                {% if date_only == page.current %}

                                <table border="0" cellspacing="0" cellpadding="0" id="{{ article.id }}">
                                <tr>
                                    <td>

                                        <font face="Verdana, Arial, Sans-serif">

                                            <b>{{ article.title }}</b><br>

                                            <font size="2" color="#FF6600">

                                                {{ article.published | date: "%A, %B %-d, %Y %I:%M:%S %p %Z" }} : UPDATED BY: {{ article.author }}<br>
                                                NUMBER OF PEOPLE CURRENTLY IN LINE: {{ article.members }}

                                            </font>

                                            <br><br>

                                            <font size="2">

                                                {% include_relative html/{{ article.id }}.html %}

                                                <br>

                                                {%- assign newsFeed = site.data.news.episode-1 | where: "id", article.id | first -%}
                                                {%- assign newsGallery = newsFeed.gallery -%}

                                                {%- if newsGallery %}

                                                    {%- for imageGallery in newsGallery %}

                                                    {%- assign relatedImages = site.data.gallery.episode-1 | where: "id", imageGallery | first %}

                                                    {%- for image in relatedImages.gallery %}

                                                    {%- for pageSelection in image.highlight %}

                                                    {%- if article.id == pageSelection %}

                                                    <a href="javascript:void(0);" onClick="open('/gallery/source/{{ imageGallery }}/{{ image.name }}','','width=512,height=400');"><img src="/gallery/source/{{ imageGallery }}/{{ image.name }}" width="150" height="113" alt="{% if image.alt %}{{ image.alt }}{% else %}NYLine Photo{% endif %}" border="0"></a>&nbsp;&nbsp;

                                                    {%- endif %}

                                                    {%- endfor %}

                                                    {%- endfor %}

                                                    {%- endfor %}

                                                {% endif %}

                                            </font>

                                        </font>

                                    </td>
                                </tr>
                                </table>

                                <br>

                                {% endif %}

                                {% endfor %}

                                {% if page.previous %}

                                <br>

                                <b><a href="{{ page.previous }}.html">Yesterday's News</a> :</b>

                                <br>

                                <font face="Verdana, Arial, Sans-serif" size="2">

                                    {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                    {% for article in sorted_articles %}

                                    {% assign date_only = article.published | slice: 0, 10 %}

                                    {% if date_only == page.previous %}

                                    <b>{{ article.title }}</b><br>

                                    {% endif %}

                                    {% endfor %}

                                </font>

                            </font>

                            {% endif %}

                        </td>
                    </tr>
                    </table>

                </td>
            </tr>
            </table>

            <a href="#top"><img src="/voila/img/txt-return-to-top.gif" border="0" width="209" height="20"></a>

        </td>
    </tr>
    </table>

</div>

</body>
</html>