
{% assign section = page.section %}
{% assign current = page.current %}
{% assign previous = page.previous %}

<!doctype html public "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>NYline Template</title>
    <style type="text/css">
    
    a:hover {
	color : #3333FF
	}

    h2 {
    font-size: 14px;
    }

    </style>

    {% if section == "info" or section == "sponsors" or section == "about" or section == "disclaimer" %}

    <script language="JavaScript">

    <!--
    
    browser = (((navigator.appName == "Netscape") && (parseInt(navigator.appVersion) >= 3 )) || ((navigator.appName == "Microsoft Internet Explorer") && (parseInt(navigator.appVersion) >= 4 )))

    if (browser) {

        off = new MakeArray(4);
        on = new MakeArray(4);

        off[1].src = "/voila/img/heading-quickfacts.gif";
        off[2].src = "/voila/img/heading-sponsors.gif";
        off[3].src = "/voila/img/heading-about.gif";
        off[4].src = "/voila/img/heading-disclaimer.gif";

        on[1].src = "/voila/img/heading-quickfacts-on.gif";
        on[2].src = "/voila/img/heading-sponsors-on.gif";
        on[3].src = "/voila/img/heading-about-on.gif";
        on[4].src = "/voila/img/heading-disclaimer-on.gif";

    }

    function MakeArray(n) {

        if (browser) {

            this.length = n;

            for (var i = 1; i<=n; i++) {
        
                this[i] = new Image();

            }

            return this;

        }

    }

    function msOver(img,num) {

        if (browser) {

            if (document.images[img].src == on[num].src) 

                return false;

            else {

                document.images[img].src = on[num].src;

                return true;

            }

        }

    }

    function msOut(img,num) {

        if (browser) {

            if (document.images[img].src == off[num].src) 

                return false;

            else {

                document.images[img].src = off[num].src;

                return true;

            }

        }

    }

    // -->
    
    </script>

    {% endif %}

</head>

<body bgcolor="#000000" text="#000000" link="#3333FF" alink="#3333FF" vlink="#3333FF">

<a name="top"></a>

<div align="center">

    <!-- Main Content -->

    <table width="95%" border="0">
    <tr>
        <td> 

            {% if section == "info" or section == "sponsors" or section == "about" or section == "disclaimer" %}

                <!-- Section Title & Navigation -->

                <table cellspacing="0" cellpadding="1" border="0">
                <tr>
                    <td>
                        
                        {% if section == "info" %}
                        
                        <img src="/voila/img/heading-quickfacts-on.gif" vspace="8" border="0" alt="">
                        
                        {% else %}
                        
                        <a href="/voila/info" onmouseover="msOver('w','1');" onmouseout="msOut('w','1');" target="_top"><img id="w" name="w" src="/voila/img/heading-quickfacts.gif" vspace="8" border="0" alt=""></a>
                        
                        {% endif %}
                    
                    </td>
                    <td>
                        
                        {% if section == "sponsors" %}
                        
                        <img src="/voila/img/heading-sponsors-on.gif" border="0" alt="">
                        
                        {% else %}
                        
                        <a href="/voila/sponsors" onmouseover="msOver('x','2');" onmouseout="msOut('x','2');" target="_top"><img name="x" src="/voila/img/heading-sponsors.gif" border="0" alt=""></a>
                        
                        {% endif %}
                    
                    </td>
                    <td>
                        
                        {% if section == "about" %}
                        
                        <img src="/voila/img/heading-about-on.gif" border="0" alt="">
                        
                        {% else %}
                        
                        <a href="/voila/about" onmouseover="msOver('y','3');" onmouseout="msOut('y','3');" target="_top"><img name="y" src="/voila/img/heading-about.gif" border="0" alt=""></a>
                        
                        {% endif %}
                    
                    </td>
                    <td>
                        
                        {% if section == "disclaimer" %}
                        
                        <img src="/voila/img/heading-disclaimer-on.gif" border="0" alt="">
                        
                        {% else %}
                        
                        <a href="/voila/disclaimer" onmouseover="msOver('z','4');" onmouseout="msOut('z','4');" target="_top"><img name="z" src="/voila/img/heading-disclaimer.gif" border="0" alt=""></a>
                        
                        {% endif %}
                    
                    </td>
                </tr>
                </table>

            {% else %}

                <table width="100%" border="0" cellspacing="0" cellpadding="1">
                <tr>
                    <td><img src="/voila/img/heading-{{ section }}.gif" vspace="8" border="0" alt=""></td>

                    {% if section == "news" %}

                    <td align="right" valign="bottom">
                    
                        <img src="/voila/img/txt-previous-days.gif" width="113" vspace="5" height="14" border="0" alt=""><img src="/voila/img/pixel.gif" width="20" height="1" border="0" alt="">
  
                    </td>

                    {% endif %}

                </tr>
                </table>

            {% endif %}

            <!-- Orange border White background Frame -->

            <table width="100%" border="0" cellspacing="0" cellpadding="3" bgcolor="#FF6600">
            <tr>
                <td>

                    <table width="100%" border="0" cellspacing="0" cellpadding="10" bgcolor="White">
                    <tr>
                        <td>

                            <font face="Verdana, Arial, Sans-serif">

                                {% if section == "news" %}

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="right">

                                            <form name="linearchive">

                                                <select name="showlist" size="1" onChange="location.href=document.linearchive.showlist.options[document.linearchive.showlist.selectedIndex].value;">
                                                    <option value="news.html" >Dec 02
                                                    <option value="/news/episode-1/1999-05-31.html"{% if current == "1999-05-31" %} selected{% endif %}>May 31
                                                    <option value="/news/episode-1/1999-05-28.html"{% if current == "1999-05-28" %} selected{% endif %}>May 28
                                                    <option value="/news/episode-1/1999-05-22.html"{% if current == "1999-05-22" %} selected{% endif %}>May 22
                                                    <option value="/news/episode-1/1999-05-21.html"{% if current == "1999-05-21" %} selected{% endif %}>May 21
                                                    <option value="/news/episode-1/1999-05-19.html"{% if current == "1999-05-19" %} selected{% endif %}>May 19
                                                    <option value="/news/episode-1/1999-05-18.html"{% if current == "1999-05-18" %} selected{% endif %}>May 18
                                                    <option value="/news/episode-1/1999-05-17.html"{% if current == "1999-05-17" %} selected{% endif %}>May 17
                                                    <option value="/news/episode-1/1999-05-16.html"{% if current == "1999-05-16" %} selected{% endif %}>May 16
                                                    <option value="/news/episode-1/1999-05-15.html"{% if current == "1999-05-15" %} selected{% endif %}>May 15
                                                    <option value="/news/episode-1/1999-05-14.html"{% if current == "1999-05-14" %} selected{% endif %}>May 14
                                                    <option value="/news/episode-1/1999-05-13.html"{% if current == "1999-05-13" %} selected{% endif %}>May 13
                                                    <option value="/news/episode-1/1999-05-12.html"{% if current == "1999-05-12" %} selected{% endif %}>May 12
                                                    <option value="/news/episode-1/1999-05-11.html"{% if current == "1999-05-11" %} selected{% endif %}>May 11
                                                    <option value="/news/episode-1/1999-05-10.html"{% if current == "1999-05-10" %} selected{% endif %}>May 10
                                                    <option value="/news/episode-1/1999-05-09.html"{% if current == "1999-05-09" %} selected{% endif %}>May 09
                                                    <option value="/news/episode-1/1999-05-08.html"{% if current == "1999-05-09" %} selected{% endif %}>May 08
                                                    <option value="/news/episode-1/1999-05-07.html"{% if current == "1999-05-07" %} selected{% endif %}>May 07
                                                    <option value="/news/episode-1/1999-05-06.html"{% if current == "1999-05-06" %} selected{% endif %}>May 06
                                                    <option value="/news/episode-1/1999-05-05.html"{% if current == "1999-05-05" %} selected{% endif %}>May 05	
                                                    <option value="/news/episode-1/1999-05-04.html"{% if current == "1999-05-04" %} selected{% endif %}>May 04
                                                    <option value="/news/episode-1/1999-05-03.html"{% if current == "1999-05-03" %} selected{% endif %}>May 03
                                                    <option value="/news/episode-1/1999-05-02.html"{% if current == "1999-05-02" %} selected{% endif %}>May 02
                                                    <option value="/news/episode-1/1999-05-01.html"{% if current == "1999-05-01" %} selected{% endif %}>May 01
                                                    <option value="/news/episode-1/1999-04-28.html"{% if current == "1999-04-28" %} selected{% endif %}>Apr 28
                                                    <option value="/news/episode-1/1999-04-26.html"{% if current == "1999-04-26" %} selected{% endif %}>Apr 26
                                                    <option value="/news/episode-1/1999-04-23.html"{% if current == "1999-04-23" %} selected{% endif %}>Apr 23
                                                    <option value="/news/episode-1/1999-04-13.html"{% if current == "1999-04-13" %} selected{% endif %}>Apr 13
                                                    <option value="/news/episode-1/1999-04-09.html"{% if current == "1999-04-09" %} selected{% endif %}>Apr 09
                                                </select>

                                            </form>

                                        </td>
                                    </tr>
                                    </table>

                                {% endif %}

                                {% if section == "news" %}

                                    {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                    {% for article in sorted_articles %}

                                        {% assign date_only = article.published | slice: 0, 10 %}

                                        {% if date_only == current %}

                                            <table border="0" cellspacing="0" cellpadding="0" id="{{ article.id }}">
                                            <tr>
                                                <td>

                                                    <b>{{ article.title }}</b><br>

                                                    <font color="#FF6600" size="2">

                                                        {{ article.published | date: "%A, %B %-d, %Y %I:%M:%S %p %Z" }} : UPDATED BY: {% if article.author == "Spell" %}Mike S{% else %}{{ article.author }}{% endif %}<br>
                                                        NUMBER OF PEOPLE CURRENTLY IN LINE: {{ article.members }}

                                                    </font>

                                                    <br><br>

                                                    <font size="2">

                                                        {% include_relative html/{{ article.id }}.html %}

                                                    </font>

                                                    <br>

                                                    {%- assign newsFeed = site.data.news.episode-1 | where: "id", article.id | first -%}
                                                    {%- assign newsGallery = newsFeed.gallery -%}

                                                    {%- if newsGallery %}

                                                        {%- for imageGallery in newsGallery %}

                                                            {%- assign relatedImages = site.data.gallery.episode-1 | where: "id", imageGallery | first %}

                                                            {%- for image in relatedImages.gallery %}

                                                                {%- for pageSelection in image.highlight %}

                                                                    {%- if article.id == pageSelection %}

                                                                        <a href="javascript:void(0);" onClick="open('/gallery/source/{{ imageGallery }}/{{ image.name }}','','width=512,height=400');"><img src="/gallery/source/{{ imageGallery }}/{{ image.name }}" width="150" height="113" alt="{% if image.alt %}{{ image.alt }}{% else %}NYLine Photo{% endif %}" border="0"></a>&nbsp;&nbsp;

                                                                    {%- endif %}

                                                                {%- endfor %}

                                                            {%- endfor %}

                                                        {%- endfor %}

                                                    {% endif %}

                                                </td>
                                            </tr>
                                            </table>

                                            <br>

                                        {% endif %}

                                    {% endfor %}

                                    {% if previous %}

                                        <br>

                                        <b><a href="{{ page.previous }}.html">Yesterday's News</a> :</b>

                                        <br>
                                            
                                        <font size="2">

                                            {% assign sorted_articles = site.data.news.episode-1 | sort: "published" | reverse %}

                                            {% for article in sorted_articles %}

                                                {% assign date_only = article.published | slice: 0, 10 %}

                                                {% if date_only == previous %}

                                                    <b>{{ article.title }}</b><br>

                                                {% endif %}

                                            {% endfor %}

                                        </font>

                                    {% endif %}

                                {% elsif section == "fan" %}

                                    {% assign sorted_articles = site.data.news.fotd | sort: "published" | reverse %}

                                    {% for article in sorted_articles %}

                                        {% assign date_only = article.published | slice: 0, 10 %}

                                        {% assign year_only = date_only | slice: 0, 4 %}

                                        {% if year_only == "1999" %}

                                            <table border="0" cellspacing="0" cellpadding="0" id="{{ article.id }}">
                                            <tr>
                                                <td>

                                                    <b>{{ article.title }}</b><br>

                                                    <font color="#FF6600" size="2">

                                                        {{ article.published | date: "%A, %B %-d, %Y %I:%M:%S %p %Z" }} : UPDATED BY: {% if article.author == "Spell" %}Mike S{% else %}{{ article.author }}{% endif %}<br>
                                                        NUMBER OF PEOPLE CURRENTLY IN LINE: {{ article.members }}

                                                    </font>

                                                    <br><br>

                                                    <font size="2">

                                                        {% include_relative html/{{ article.id }}.html %}

                                                    </font>

                                                    <br>

                                                </td>
                                            </tr>
                                            </table>

                                        {% endif %}

                                    {% endfor %}

                                {% else %}

                                <!-- Content starts here --> 

                                <font size="2">

                                    {{ content }}

                                </font>

                                {% endif %}

                            </font>

                        </td>
                    </tr>
                    </table>

                </td>
            </tr>
            </table>

            <a href="#top"><img src="/voila/img/txt-return-to-top.gif" border="0" width="209" height="20" vspace="10"></a>

        </td>
    </tr>
    </table>

    <!--- / Main Content --->

</div>

</body>
</html>